{% extends 'index.html' %}

{% block content %}
<div class="container my-5">
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Dare to Write a Post</legend>
            
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control form-control-lg" if not form.title.errors else "form-control form-control-lg is-invalid") }}
                {% if form.title.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control form-control-lg" if not form.content.errors else "form-control form-control-lg is-invalid") }}
                {% if form.content.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info btn-lg btn-block") }}
        </div>        
    </form>
    <hr>
    <ul class="list-unstyled mt-4">
        {% for post in posts %}
            <li class="media mb-4 p-3 border rounded">
                <img class="mr-3 rounded-circle" src="{{ url_for('static', filename='images/' + post.author.img) }}" alt="{{ post.author.username }}" width="64" height="64">
                <div class="media-body">
                    <h3 class="mt-0 mb-1">{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <small class="text-muted">Post by <a href="{{ url_for('about', username=post.author.username) }}">{{ post.author.username }}</a> at {{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
