{% extends 'index.html' %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Dare to write a Post</legend>
       
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control-lg" if not form.title.errors else "form-control form-control-lg is-invalid") }}
            {% if form.title.errors %}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {{ form.content(class="form-control form-control-lg" if not form.content.errors else "form-control form-control-lg is-invalid") }}
            {% if form.content.errors %}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>        
</form>
    {% for post in posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <small>Post by <a href="{{ url_for('about', username=post.author.username) }}">{{ post.author.username }}</a> at {{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</small>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}