{% extends 'index.html' %}

{% block content %}
        <div>
            <h1>01 .</h1>
            <p>
                An open platform with a purpose
                We exist to deepen understanding of the world through the power of writing. If you have a story or idea to share, write on Medium and reach an audience.</p>
        </di>
        <br>
        <div>
            <h1>01 .</h1>
            <p>
                An open platform with a purpose
                We exist to deepen understanding of the world through the power of writing. If you have a story or idea to share, write on Medium and reach an audience.</p>
        </di>
        <br>
        <div>
            <h1>01 .</h1>
            <p>
                An open platform with a purpose
                We exist to deepen understanding of the world through the power of writing. If you have a story or idea to share, write on Medium and reach an audience.</p>
        </di>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already have an account? <a class="ml-50" href="{{ url_for('login') }}">Sign in</a>
    </small>
</div>
{% endblock %}
